<!DOCTYPE html>
<html>
<head>

    <title> Hà Đức Kiên</title>

    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Style -->
    <link rel="shortcut icon" href="images/logo-kien.png">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            background-image: url("./images/background.JPG");
            background-size: cover;
        }
    </style>
    <script src="js/vue/vue.min.js"></script>
</head>
<body>
<div class="banner-info">
    <div class="w3l-info text-center">
        <img src="images/logo-kien.png" style="width: 15%" alt="">
        <h3>Hà Đức Kiên</h3>
        <h4>Web Developer</h4>
    </div>
    <div id="app">
        <div class="">
            <div class="row">
                <div class="wrapper agileinfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 style="font-size: 200%">Now is:</h1>
                    <div class="clock">
                        <div class="column "
                             v-if="now.hour != null"
                        >
                            <span class="timer w3layouts" id="now-hours">
                                {{ now.hour }}
                            </span>
                            <div class="agileits text">HOURS</div>
                        </div>

                        <div class="column "
                             v-if="now.minute != null"
                        >
                            <span class="timer w3las" id="now-minutes">
                                {{ now.minute }}
                            </span>
                            <div class="text aits">MINUTES</div>
                        </div>

                        <div class="column"
                             v-if="now.second != null"
                        >
                            <span class="timer stuoyal3w" id="now-seconds">
                                {{ now.second }}
                            </span>
                            <div class="text wthree">SECONDS</div>
                        </div>

                    </div>

                </div>
                <div class="wrapper agileinfo left  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 style="font-size: 200%">My BirthDay on:</h1>
                    <div class="clock">
                        <div class="column "
                             v-if="countDownBirthDay.days != null"
                        >
                            <span class="timer w3" id="birth-days">
                                {{ formatNumber(countDownBirthDay.days) }}
                            </span>
                            <div class="aits text">DAYS</div>
                        </div>
                        <div class="column "
                             v-if="countDownBirthDay.hours != null"
                        >
                            <span class="timer w3layouts">
                                {{ formatNumber(countDownBirthDay.hours) }}
                            </span>
                            <div class="agileits text">HOURS</div>
                        </div>

                        <div class="column "
                             v-if="countDownBirthDay.minutes != null"
                        >
                            <span class="timer w3las">
                                {{ formatNumber(countDownBirthDay.minutes) }}
                            </span>
                            <div class="text aits">MINUTES</div>
                        </div>

                        <div class="column"
                             v-if="countDownBirthDay.seconds != null"
                        >
                            <span class="timer stuoyal3w">
                                {{ formatNumber(countDownBirthDay.seconds) }}
                            </span>
                            <div class="text wthree">SECONDS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer text-center">
                <br>

                <hr>
                <p>
                    Địa chỉ: TDP số 1 - Thị trấn Chi Đông - Mê Linh - Hà Nội | Facebook:
                    <a target="_blank"
                       :href="link" >
                       Hạ Đức Kiên
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    myObject = new Vue({
        el: '#app',
        data: {
            currentDay: new Date(),
            now: {
                hour: null,
                minute: null,
                second: null,
            },
            myBirthDay: '05/12/',
            link: 'https://www.facebook.com/kienchidong',
            countDownBirthDay: {
                days: null,
                hours: null,
                minutes: null,
                seconds: null,
            }
        },
        mounted() {
            this.mybirthDay();
            this.timer = setInterval(() => {
                let now = new Date()
                this.now.hour = this.formatNumber(now.getHours());
                this.now.minute = this.formatNumber(now.getMinutes());
                this.now.second = this.formatNumber(now.getSeconds());
            }, 1000)
        },
        methods: {
            formatNumber(number) {
                if (number < 10) {
                    return '0' + number;
                }
                return number;
            },
            mybirthDay() {
                let myBirhDayIntThisYear = new Date(this.myBirthDay + this.currentDay.getFullYear());
                let year = '';
                if (this.currentDay.getTime() < myBirhDayIntThisYear.getTime() && this.currentDay.toLocaleDateString() === myBirhDayIntThisYear.toLocaleDateString()) {
                    year = this.currentDay.getFullYear();
                } else {
                    year = this.currentDay.getFullYear() + 1;
                }
                this.getCountDown(this.myBirthDay + year)
            },
            getCountDown(dateValue = '') {
                var countDownDate = new Date(dateValue);

                if (!isNaN(countDownDate)) {
                    setInterval(() => {

                        // Get today's date and time
                        var now = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        this.countDownBirthDay.days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        this.countDownBirthDay.hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        this.countDownBirthDay.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        this.countDownBirthDay.seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        if (distance < 0) {
                            clearInterval(x);
                        }
                    }, 1000);
                } else {
                    return []
                }
            }
        }
    })
</script>

</body>
</html>
